.container-fluid.quotes-main
  %h1
    "But man is not made for defeat. A man can be destroyed but not defeated."
    %br
    %span.small - Ernest Hemmingway
.quotes-separator
.container-fluid.quotes-content
  %h2 You can help us, to motivate another people
  %a{class: "btn btn-custom btn-lg", href: quotes_path}
    Show all
  %a{class: "btn btn-custom btn-lg", href: new_quote_path}
    Create quote
