.nav-bar
  .nav-bar-header
    %h1 Quotes
  .nav-bar-menu
    .menu
      .menu-hover
      %a{href: root_path}
        %span.menu-text
          Home
    .menu
      .menu-hover
      %a{href: quotes_path}
        %span.menu-text
          Quotes
    .menu
      .menu-hover
      %a{href: random_path}
        %span.menu-text
          Random
